.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  text-align: center;
  background-color: #FAFAFA;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1%;
  color: #1c1d1f;
  max-height: 95vh;
  max-width: 95vw;
}

.introbox {
  padding: 20px;
}

.textbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  padding: 10px;
}

.chatbox {
  height: 75vh;
  max-height: 75vh;
  width: 60vw;
  max-width: 60vw;
  overflow-y: scroll;
  margin-top: 5px;
}

.chatbox-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.bubble-row {
  position: relative;
  display: flex;
  width: 95%;
  height: 100%;
  padding: 5px;
}

.chat-bubble {
  overflow-wrap: break-word;
  border-radius: 3%;
  padding: 5px;
  max-width: 20vw;
  line-height: 85%;
}

.side-left {
  justify-content: flex-start;
  text-align: left;
}

.side-right {
  justify-content: flex-end;
  text-align: right;
}

textarea {
  resize: none;
  width: 80%;
  border-color: #C6C6C6;
  border-radius: 5%;
  margin-right: 10px;
  font: inherit;
}

textarea:focus {
  outline: none;
}

.p-squished {
  line-height: 40%;
}

.circle-button {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: black;
  outline: none;
  margin: 2px;
}

.color-label {
  text-align: center;
  font-size: 80%;
}

.block-button {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 5%;
  font-size: 16px;
  color: white;
  outline: none;
}

button:disabled {
  background-color: #aaabad;
  color: #c9ccd4;
}

.button-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.color-list {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-content: space-between;
  margin: 0px 0px 15px 0px;
}

.color-red {
  background-color: #FF7C7C;
}

.color-orange {
  background-color: #FFC47F;
}

.color-yellow {
  background-color: #FFDC26;
}

.color-green {
  background-color: #93F37B;
}

.color-blue{
  background-color: #73C6D9;
}

.color-purple {
  background-color: #B67DFF;
}

.color-black {
  background-color: #56555A;
}

.color-default {
  background-color: #efefef;
}

.color-grey {
  background-color: grey;
}

.color-light-grey {
  background-color: #F0F1F2;
}