.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.chatbox {
  background-color: #FAFAFA;
  font-size: 16px;
  padding: 20px;
}

.p-squished {
  line-height: 40%;
}

.circle-button {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  background-color: black;
  outline: none;
}

.color-list {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px 0px 15px;
}

.color-red {
  background-color: #FF7C7C;
}

.color-orange {
  background-color: #FFC47F;
}

.color-yellow {
  background-color: #FFDC26;
}

.color-green {
  background-color: #93F37B;
}

.color-blue{
  background-color: #73C6D9;
}

.color-purple {
  background-color: #B67DFF;
}

.color-black {
  background-color: #56555A;
}

.color-default {
  background-color: #efefef;
}